Repository d4ilyrun/emu-gb: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, shell-check

.pre-commit-config.yaml:

default_stages: [ commit, prepare-commit-msg ]

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.3.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
        stages: [ merge-commit ]

  - repo: "https://github.com/nix-community/nixpkgs-fmt"
    rev: "master"
    hooks:
      - id: nixpkgs-fmt
        name: Format nix flake

  - repo: "local"
    hooks:
      - id: build
        name: Build project to ensure the changes didn't break it
        language: system
        entry: nix build .#emu-gb
        stages: [ push ]
        pass_filenames: false

      - id: clang-tidy
        name: Check for C coding style errors     (Run with FIX_CSTYLE=1 to apply fixes)
        language: script
        entry: scripts/check-coding-style.sh
        types_or: [ c++, c ]

      - id: shell-check
        name: Check for bash coding style errors
        language: system
        entry: shellcheck
        files: "(.*)\\.sh"

build: Fix missing pthread in test build
  tests/CMakeLists.txt
Due: none

coding-style: Apply coding style
  .clang-tidy
  .pre-commit-config.yaml
  include/cartridge/cartridge.h
  include/cartridge/memory.h
  include/cpu/cpu.h
  include/cpu/flag.h
  include/cpu/instruction.h
  include/cpu/interrupt.h
  include/cpu/memory.h
  include/cpu/stack.h
  include/cpu/timer.h
  include/utils/error.h
  include/utils/log.h
  src/cartridge/cartridge.c
  src/cartridge/mbc1.c
  src/cartridge/mbc2.c
  src/cartridge/mbc3.c
  src/cartridge/memory.c
  src/cpu/cpu.c
  src/cpu/instruction.c
  src/cpu/instruction_cb.c
  src/cpu/instruction_display.c
  src/cpu/instruction_fetch.c
  src/cpu/interrupt.c
  src/cpu/memory.c
  src/cpu/timer.c
  src/io.c
  src/log.c
  src/main.c
  src/options.c
  src/test_rom.c
  tests/src/cartridges/cartridge.hxx
  tests/src/cartridges/mbc1.cc
  tests/src/cartridges/mbc2.cc
  tests/src/cpu/instructions/instruction.hxx
  tests/src/cpu/instructions/shift/rla.cc
  tests/src/cpu/instructions/shift/sra.cc
  tests/src/cpu/interrupt.cc
  tests/src/cpu/registers.cc
  tests/src/cpu/timer.cc
Due: clang-tidy

pre-commit: Add pre-commit check into the CI
  .github/workflows/code.yml
Due: none

cmake: Add install rule for testsuite
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

scripts: Require input dir for 'run-tests.sh'
  scripts/run-tests.sh
Due: shell-check

testsuite: Add to nix flakes
  CMakeLists.txt
  flake.nix
Due: none

unit-tests: Add unit-tests to nix flake check (#18)
  CMakeLists.txt
  flake.nix
  scripts/run-tests.sh
  tests/CMakeLists.txt
Due: shell-check

flakes: Add wrapper for openGL (NixGL)
  flake.lock
  flake.nix
Due: none

timer: Switch to ALWAYS_INLINE to avoid optimizations
  include/cpu/timer.h
Due: clang-tidy

cartridge: Fix ROM type in cartridge_info
  include/cartridge/cartridge.h
  include/utils/macro.h
  src/cartridge/cartridge.c
Due: clang-tidy

ppu: add ppu VRAM/OAM RW
  CMakeLists.txt
  include/cpu/memory.h
  include/ppu/ppu.h
  include/utils/macro.h
  src/CMakeLists.txt
  src/cpu/memory.c
  src/main.c
  src/ppu/CMakeLists.txt
  src/ppu/ppu.c
Due: clang-tidy

PPU: Add LCD
  include/ppu/lcd.h
  src/ppu/CMakeLists.txt
  src/ppu/lcd.c
Due: clang-tidy

PPU: Fix errors in LCD
  src/ppu/lcd.c
  tests/src/ppu/lcd.cc
Due: clang-tidy

PPU: LCD fix tests
  include/ppu/lcd.h
  src/ppu/lcd.c
  tests/src/ppu/lcd.cc
Due: clang-tidy

tests: Add tests for LCD registers
  include/ppu/lcd.h
  src/ppu/lcd.c
  tests/src/ppu/lcd.cc
Due: clang-tidy

PPU: Add write to TileMaps
  include/ppu/ppu.h
  src/ppu/ppu.c
  tests/src/ppu/lcd.cc
  tests/src/ppu/ppu.cc
Due: clang-tidy

test: add tests for the PPU R/W operations
  include/ppu/ppu.h
  src/ppu/ppu.c
  tests/CMakeLists.txt
  tests/src/ppu/lcd.cc
  tests/src/ppu/ppu.cc
Due: clang-tidy

PPU: Add tests for LCD
  include/ppu/lcd.h
  tests/CMakeLists.txt
  tests/src/ppu/lcd.cc
Due: clang-tidy

PPU: LCD mode restrictions
  include/cpu/memory.h
  include/ppu/lcd.h
  src/cpu/memory.c
  src/io.c
  src/ppu/lcd.c
  src/ppu/ppu.c
  tests/CMakeLists.txt
  tests/src/ppu/ppu.cc
Due: clang-tidy

Rebase onto 'master'
  src/io.c
  src/ppu/lcd.c
  src/ppu/ppu.c
Due: clang-tidy

coding-style: Fix pre-commit errors
  CMakeLists.txt
  scripts/run-blargg-tests.sh
  src/cpu/CMakeLists.txt
  src/cpu/instruction_cb.c
  src/cpu/instruction_display.c
  src/log.c
  src/ppu/CMakeLists.txt
  tests/CMakeLists.txt
Due: clang-tidy, shell-check

ci: Update scripts runtime arguments
  .github/workflows/blargg.yml
  .github/workflows/build.yml
  .github/workflows/code.yml
  scripts/run-blargg-tests.sh
Due: shell-check

feat(pre-commit): Check conventional commit message
  .pre-commit-config.yaml
Due: none
